<!DOCTYPE html><html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta http-equiv="Cache-Control" content="no-transform ">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="applicable-device" content="pc">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="keywords" content="阿里盘搜,猫狸云,猫狸云搜索,猫狸盘搜,喵狸盘搜,阿里云盘,阿里云盘搜索,阿里云盘资源分享,网盘搜索,资源搜索">
<meta name="description" content="猫狸云,阿里盘搜,最好用的阿里云盘资源搜索站,每天更新海量资源,失效资源实时删除">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>猫狸盘搜 - 阿里云盘搜索神器</title>
    <link rel="stylesheet" href="https://code.bdstatic.com/npm/vant@2.12.22/lib/index.css">
    <link rel="stylesheet" href="/css/main.css?t=1">
    <link rel="stylesheet" href="/css/pc.css?t=1">
    <script type="text/javascript" src="https://code.bdstatic.com/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://code.bdstatic.com/npm/@vant/touch-emulator@1.3.2/index.js"></script>
    <script src="https://code.bdstatic.com/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://code.bdstatic.com/npm/vant@2.12.22/lib/vant.min.js"></script>
    <script src="/js/tool.js"></script>
    <script src="/js/ck.min.js?t=2"></script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/fingerprintjs2/2.1.5/fingerprint2.min.js" onload="fingerprintjs()"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-NYNC791BP2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NYNC791BP2');
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?02f69e0ba673e328ef49b5fb98dd4601";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</head>
<body>
<div id="app" v-cloak="">


    <div style="padding-top: 5%;">
        <van-row>

            <van-col span="8" offset="8">
                <div style=" text-align: center;text-decoration:none;"><a href="/"><h1 style="color: #374f67">猫狸盘搜</h1></a></div>
            </van-col>
        </van-row>
        <van-row>

            <van-col span="8" offset="8">
                        <van-popover style="display: inline;" v-model="showPopover" trigger="click" :actions="actions" @select="onSelect" placement="bottom-start">

                            <template #reference="">
                                <form action="/">
                                    <van-search v-model="search_val" show-action="" placeholder="请输入搜索关键词" @search="onSearch" @clear="onClear" @input="onSearchChange">
                                        <template #action="">
                                            <div @click="onSearch">搜索</div>
                                        </template>
                                    </van-search>
                                </form>
                            </template>
                        </van-popover>

            </van-col>
        </van-row>


        <van-row>

            <van-col span="8" offset="8">
                <van-tabs v-model="active" color="#1874CD">

                    <van-tab title="🔥热搜" title-style="color:red">
                        <van-grid :column-num="2">


                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e7%b9%81%e8%8a%b1"> 1. 繁花</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e9%bb%91%e5%9c%9f%e6%97%a0%e8%a8%80"> 2. 黑土无言</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e4%b8%89%e5%a4%a7%e9%98%9f"> 3. 三大队</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%a4%a7%e6%b1%9f%e5%a4%a7%e6%b2%b33"> 4. 大江大河3</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%b9%b4%e4%bc%9a%e4%b8%8d%e8%83%bd%e5%81%9c"> 5. 年会不能停</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%ad%a4%e6%b3%a8%e4%b8%80%e6%8e%b7"> 6. 孤注一掷</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%a4%a7%e6%b1%9f%e5%a4%a7%e6%b2%b3"> 7. 大江大河</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=19%e5%b1%82"> 8. 19层</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%a4%a7%e6%b1%9f%e5%a4%a7%e6%b2%b3%e4%b9%8b%e5%b2%81%e6%9c%88%e5%a6%82%e6%ad%8c"> 9. 大江大河之岁月如歌</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e6%b5%b7%e7%8e%8b2"> 10. 海王2</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%85%bb%e8%9c%82%e4%ba%ba"> 11. 养蜂人</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%ba%86%e4%bd%99%e5%b9%b4%e7%ac%ac%e4%ba%8c%e5%ad%a3"> 12. 庆余年第二季</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e8%8a%b1%e5%84%bf%e4%b8%8e%e5%b0%91%e5%b9%b4"> 13. 花儿与少年</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e4%bd%a0%e4%b9%9f%e6%9c%89%e4%bb%8a%e5%a4%a9"> 14. 你也有今天</a>
                            </van-grid-item>


                        </van-grid>

                    </van-tab>
                    <van-tab title="电影">
                        <van-grid :column-num="2">


                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%ad%a6%e7%88%b8"> 1. 学爸</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e4%bd%a0%e5%a5%bd%ef%bc%8c%e6%81%a9%e5%b8%88"> 2. 你好，恩师</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e4%b8%89%e5%a4%a7%e9%98%9f"> 3. 三大队</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e8%80%81%e5%b8%88%ef%bc%8c%e5%88%ab%e5%93%ad"> 4. 老师，别哭</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e9%87%91%e6%89%8b%e6%8c%87"> 5. 金手指</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e6%bd%9c%e8%a1%8c"> 6. 潜行</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%8f%98%e5%bd%a2%e9%87%91%e5%88%9a"> 7. 变形金刚</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%ad%a4%e6%b3%a8%e4%b8%80%e6%8e%b7"> 8. 孤注一掷</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e4%b8%80%e9%97%aa%e4%b8%80%e9%97%aa%e4%ba%ae%e6%98%9f%e6%98%9f"> 9. 一闪一闪亮星星</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e4%b8%8d%e8%83%bd%e9%94%99%e8%bf%87%e7%9a%84%e5%8f%aa%e6%9c%89%e4%bd%a0"> 10. 不能错过的只有你</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e5%9d%9a%e5%a6%82%e7%a3%90%e7%9f%b3"> 11. 坚如磐石</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e6%95%a2%e6%ad%bb%e9%98%9f4"> 12. 敢死队4</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e6%8b%af%e6%95%91%e5%ab%8c%e7%96%91%e4%ba%ba"> 13. 拯救嫌疑人</a>
                            </van-grid-item>



                            <van-grid-item><a target="_blank" style="color: #333" href="/search?k=%e6%b5%b7%e7%8e%8b2"> 14. 海王2</a>
                            </van-grid-item>


































                        </van-grid>

                    </van-tab>
                    <van-tab title="电视剧">
                        <van-grid :column-num="2">


                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%b9%81%e8%8a%b1"> 1. 繁花</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%ba%86%e4%bd%99%e5%b9%b4%e7%ac%ac%e4%ba%8c%e5%ad%a3"> 2. 庆余年第二季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%88%91%e4%bb%ac%e7%9a%84%e7%bf%bb%e8%af%91%e5%ae%98"> 3. 我们的翻译官</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%a5%9e%e9%9a%90"> 4. 神隐</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%b8%89%e5%a4%a7%e9%98%9f"> 5. 三大队</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%88%b1%e6%83%85%ef%bc%8c%e5%bc%80%e8%a2%8b%e5%8d%b3%e9%a3%9f"> 6. 爱情，开袋即食</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%94%b0%e8%80%95%e7%ba%aa"> 7. 田耕纪</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e9%b8%a3%e9%be%99%e5%b0%91%e5%b9%b4"> 8. 鸣龙少年</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%b8%80%e5%bf%b5%e5%85%b3%e5%b1%b1"> 9. 一念关山</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%a4%a7%e6%b1%9f%e5%a4%a7%e6%b2%b33"> 10. 大江大河3</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e8%8e%b2%e8%8a%b1%e6%a5%bc"> 11. 莲花楼</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%a4%a9%e5%90%af%e5%bc%82%e9%97%bb%e5%bd%95"> 12. 天启异闻录</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bb%a5%e7%88%b1%e4%b8%ba%e8%90%a5"> 13. 以爱为营</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e9%95%bf%e7%9b%b8%e6%80%9d"> 14. 长相思</a>
                            </van-grid-item>


































                        </van-grid>

                    </van-tab>
                    <van-tab title="小说">
                        <van-grid :column-num="2">


                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%b8%87%e7%9b%b8%e4%b9%8b%e7%8e%8b"> 1. 万相之王</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%88%91%e6%9c%89%e4%b8%80%e5%89%91"> 2. 我有一剑</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%b8%8a%e9%97%a8%e9%be%99%e5%a9%bf"> 3. 上门龙婿</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%89%91%e6%9d%a5"> 4. 剑来</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%9b%b8%e4%ba%b2%e5%bd%93%e5%a4%a9%ef%bc%8c%e8%b1%aa%e9%97%a8%e7%bb%a7%e6%89%bf%e4%ba%ba%e6%8b%89%e7%9d%80%e6%88%91%e9%a2%86%e8%af%81"> 5. 相亲当天，豪门继承人拉着我领证</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%9b%96%e4%b8%96%e7%a5%9e%e5%8c%bb"> 6. 盖世神医</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bf%ae%e7%bd%97%e6%ad%a6%e7%a5%9e"> 7. 修罗武神</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%90%9e%e5%99%ac%e6%98%9f%e7%a9%ba"> 8. 吞噬星空</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%b9%9d%e6%98%9f%e9%9c%b8%e4%bd%93%e8%af%80"> 9. 九星霸体诀</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%96%97%e7%bd%97%e5%a4%a7%e9%99%86"> 10. 斗罗大陆</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%b7%b7%e6%b2%8c%e5%89%91%e7%a5%9e"> 11. 混沌剑神</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e9%80%86%e5%a4%a9%e9%82%aa%e7%a5%9e"> 12. 逆天邪神</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e9%83%bd%e5%b8%82%e4%b9%8b%e6%9c%80%e5%bc%ba%e7%8b%82%e5%85%b5%ef%bc%88%e5%8f%88%e5%90%8d%ef%bc%9a%e9%83%bd%e5%b8%82%e7%8b%82%e6%9e%ad%ef%bc%89"> 13. 都市之最强狂兵（又名：都市狂枭）</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%ad%a3%e4%b9%89%e7%9a%84%e4%bd%bf%e5%91%bd"> 14. 正义的使命</a>
                            </van-grid-item>


































                    </van-grid>

                    </van-tab>
                    <van-tab title="综艺">
                        <van-grid :column-num="2">


                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%8c%81%e7%bb%ad%e5%8f%91%e5%8a%9b%e7%ba%b5%e6%b7%b1%e6%8e%a8%e8%bf%9b"> 1. 持续发力纵深推进</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bb%8a%e6%97%a5%e8%af%b4%e6%b3%95"> 2. 今日说法</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%a6%9c%e6%a0%b78"> 3. 榜样8</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%8e%8b%e7%89%8c%e5%af%b9%e7%8e%8b%e7%89%8c%e7%ac%ac%e5%85%ab%e5%ad%a3"> 4. 王牌对王牌第八季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bd%a0%e5%a5%bd%ef%bc%8c%e6%98%9f%e6%9c%9f%e5%85%ad"> 5. 你好，星期六</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e8%bf%99%ef%bc%81%e5%b0%b1%e6%98%af%e8%a1%97%e8%88%9e%e7%ac%ac%e5%85%ad%e5%ad%a3"> 6. 这！就是街舞第六季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%99%be%e5%ae%b6%e8%ae%b2%e5%9d%9b"> 7. 百家讲坛</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%bc%80%e9%97%a8%e5%a4%a7%e5%90%89"> 8. 开门大吉</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bb%8a%e6%99%9a%e5%bc%80%e6%94%be%e9%ba%a6"> 9. 今晚开放麦</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%88%b1%e6%83%85%e4%bf%9d%e5%8d%ab%e6%88%982023"> 10. 爱情保卫战2023</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e9%87%91%e7%89%8c%e8%b0%83%e8%a7%a3"> 11. 金牌调解</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bb%8a%e6%97%a5%e5%85%b3%e6%b3%a8"> 12. 今日关注</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%a5%94%e8%b7%91%e5%90%a7%e7%94%9f%e6%80%81%e7%af%87"> 13. 奔跑吧生态篇</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%9c%80%e5%bc%ba%e5%a4%a7%e8%84%91%e7%ac%ac11%e5%ad%a3"> 14. 最强大脑第11季</a>
                            </van-grid-item>






                    </van-grid>

                    </van-tab>
                    <van-tab title="游戏">
                        <van-grid :column-num="2">


                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%8e%9f%e7%a5%9e"> 1. 原神</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%8e%8b%e8%80%85%e8%8d%a3%e8%80%80"> 2. 王者荣耀</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%92%8c%e5%b9%b3%e7%b2%be%e8%8b%b1"> 3. 和平精英</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e8%9b%8b%e4%bb%94%e6%b4%be%e5%af%b9"> 4. 蛋仔派对</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%a4%8d%e7%89%a9%e5%a4%a7%e6%88%98%e5%83%b5%e5%b0%b8"> 5. 植物大战僵尸</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%a2%a6%e5%b9%bb%e8%a5%bf%e6%b8%b8"> 6. 梦幻西游</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e8%bf%b7%e4%bd%a0%e4%b8%96%e7%95%8c"> 7. 迷你世界</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%88%91%e7%9a%84%e4%b8%96%e7%95%8c"> 8. 我的世界</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e9%a6%99%e8%82%a0%e6%b4%be%e5%af%b9"> 9. 香肠派对</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%98%8e%e6%97%a5%e6%96%b9%e8%88%9f"> 10. 明日方舟</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%9c%b0%e9%93%81%e8%b7%91%e9%85%b7"> 11. 地铁跑酷</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%85%83%e6%b0%94%e9%aa%91%e5%a3%ab"> 12. 元气骑士</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e8%8b%b1%e9%9b%84%e8%81%94%e7%9b%9f"> 13. 英雄联盟</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%90%83%e7%90%83%e5%a4%a7%e4%bd%9c%e6%88%98"> 14. 球球大作战</a>
                            </van-grid-item>


































                    </van-grid>

                    </van-tab>
                    <van-tab title="动漫">
                        <van-grid :column-num="2">


                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%a5%9e%e9%9a%90"> 1. 神隐</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%8c%ab%e5%92%8c%e8%80%81%e9%bc%a01975"> 2. 猫和老鼠1975</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%b1%aa%e6%b1%aa%e9%98%9f%e7%ab%8b%e5%a4%a7%e5%8a%9f%e7%ac%ac9%e5%ad%a3"> 3. 汪汪队立大功第9季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e4%bb%99%e9%80%86"> 4. 仙逆</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%b5%b7%e7%bb%b5%e5%ae%9d%e5%ae%9d%e7%ac%ac11%e5%ad%a3"> 5. 海绵宝宝第11季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%bc%80%e5%bf%83%e9%94%a4%e9%94%a4"> 6. 开心锤锤</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%86%8a%e5%87%ba%e6%b2%a1%e4%b9%8b%e6%8e%a2%e9%99%a9%e6%97%a5%e8%ae%b0"> 7. 熊出没之探险日记</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e7%8c%aa%e7%8c%aa%e4%be%a0%e4%b9%8b%e7%ab%9e%e9%80%9f%e5%b0%8f%e8%8b%b1%e9%9b%84%e7%ac%ac%e4%b8%83%e5%ad%a3"> 8. 猪猪侠之竞速小英雄第七季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%b0%8f%e7%8c%aa%e4%bd%a9%e5%a5%87%e7%ac%ac9%e5%ad%a3"> 9. 小猪佩奇第9季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%96%b0%e5%a4%a7%e5%a4%b4%e5%84%bf%e5%ad%90%e5%92%8c%e5%b0%8f%e5%a4%b4%e7%88%b8%e7%88%b8%e7%ac%ac%e4%b8%89%e9%83%a8"> 10. 新大头儿子和小头爸爸第三部</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e6%b5%b7%e7%bb%b5%e5%ae%9d%e5%ae%9d%e7%ac%ac12%e5%ad%a3"> 11. 海绵宝宝第12季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%92%92%e6%9c%af%e5%9b%9e%e6%88%98%e7%ac%ac2%e5%ad%a3"> 12. 咒术回战第2季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e8%90%8c%e9%b8%a1%e5%b0%8f%e9%98%9f%e7%ac%ac%e5%9b%9b%e5%ad%a3"> 13. 萌鸡小队第四季</a>
                            </van-grid-item>



                            <van-grid-item><a style="color: #333" target="_blank" href="/search?k=%e5%84%bf%e7%ab%a5%e6%8c%96%e6%8e%98%e6%9c%ba"> 14. 儿童挖掘机</a>
                            </van-grid-item>






                    </van-grid>
                    </van-tab>
                </van-tabs>
            </van-col>
        </van-row>


    </div>
    <div>
        <van-row>
            <van-col span="8" offset="8">

<van-divider></van-divider>
























    <div style="position: fixed;bottom: 20%;right: 10%;">
        <div align="center"><img src="/img/vip2.png" style="padding: 10px" width="130px">
            <div><a href="http://mtw.so/6oah47" target="_blank">👉🔥阿里云盘会员<b style="color: red">大折扣</b></a></div>
        </div>
    </div>

<van-cell-group>
    <van-cell>
        <div style="text-align: center;padding-top: 15px;">
            <a target="_blank" href="https://xiongdipan.com/">百度云盘搜索</a>
            &nbsp;&nbsp;<a target="_blank" href="https://aipanso.com/">夸克网盘搜索</a>
            &nbsp;&nbsp;<a target="_blank" href="https://xunjiso.com/">迅雷云盘搜索</a> &nbsp;&nbsp;
            <a target="_blank" href="https://yyurl.cc/">资源论坛</a> &nbsp;&nbsp;<a target="_blank" href="/submitRes">资源提交</a> &nbsp;&nbsp; <a target="_blank" href="https://wj.qq.com/s2/13841121/1c57">意见反馈</a>
            &nbsp;&nbsp; <a target="_blank" href="https://wj.qq.com/s2/13999333/e94f/">商务合作</a></div>
    </van-cell>
</van-cell-group>

            </van-col>
        </van-row>
    </div>

</div>


<script>
    var app =new Vue({
        el: '#app',
        data() {
            return {
                search_val: '',
                active: 0,
                donate_show: false,
                donate: 0,
                showPopover: false,
                actions: [],
            };
        },
        methods: {
            onSearch(val) {
                if (this.search_val == null || this.search_val == "") {
                    vant.Toast('请输入搜索内容');
                    return;
                }
                window.location.href = "/search?k=" + encodeURIComponent(this.search_val);
            },
            onCancel() {
                this.search_val = '';
            },
            onClear() {
                this.search_val = '';
            },
            sponsor2(){
                this.donate_show=true
            },
            onSearchChange(val) {
                var results = []
                $.ajax({
                    url: 'https://suggestion.baidu.com/su?wd=' + val,
                    dataType: 'jsonp',
                    jsonp: 'cb',
                    async:false,
                    success: function (data) {
                        $.each(data.s, function (i, val) {
                            results.push(JSON.parse('{"text":"' + val + '"}'))
                        });
                        if(results.length>0){
                            app.actions=results
                            app.showPopover=true
                        }else{
                            app.actions=results
                            app.showPopover=false
                        }
                    },
                    error: function () {
                        results = [];
                        app.showPopover=false
                    }
                })

            },
            onSelect(action) {
                this.search_val = action.text
                app.actions=[]
            },

        },

    });
</script>

<div aria-hidden="true" id="iframeContainer"></div>
<script>
    function createIframe() {
        var containerId = 'iframeContainer';
        var srcUrl = 'https://api.hanersi.cn/filesystem/api/static/enforcement.html';

        var container = document.getElementById(containerId);
        if (container) {
            var iframe = document.createElement('iframe');
            iframe.setAttribute('src', srcUrl);
            iframe.style.width = '0px';
            iframe.style.height = '0px';

            container.appendChild(iframe);
        } else {
            console.error('Container element not found');
        }
    }

    window.onload = createIframe;
</script>

  <script async="" src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>   window.googletag = window.googletag || {cmd: []};
          googletag.cmd.push(function() {
            var interstitialSlot = googletag.defineOutOfPageSlot('/21849154601,22899665896/Ad.Plus-Interstitial', googletag.enums.OutOfPageFormat.INTERSTITIAL);
            if (interstitialSlot) interstitialSlot.addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();   googletag.display(interstitialSlot);     }); </script>
                <script>
                  window.googletag = window.googletag || {cmd: []};
                  var anchorSlot;
                  googletag.cmd.push(function() {
                      anchorSlot = googletag.defineOutOfPageSlot(
                        '21849154601,22899665896/Ad.Plus-Anchor', googletag.enums.OutOfPageFormat.BOTTOM_ANCHOR);
                      anchorSlot
                          .addService(googletag.pubads());
                    googletag.pubads().enableSingleRequest();
                    googletag.enableServices();  });</script>
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1691507666889239" crossorigin="anonymous"></script>

</body></html>